body {
    margin: 0;
    padding: 0;
    font-family: Inter, Inter Prevent Layout Shift, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ?Menu */
header {
    display: flex;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header a img {
    height: 30px;
    margin-right: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #ff0000;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
}


/*? resources-section */
/* Contenedor principal - mantiene el layout en filas y distribuye bien los elementos */
.resources-section {
    display: flex;
    justify-content: space-between;
    /* Espaciado adecuado entre los elementos */
    flex-wrap: wrap;
    /* Para que los elementos se ajusten en varias filas si es necesario */
    padding: 2em;
    background-color: #f7f7f7;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: #d94f04;
    font-weight: bold;
}

/* Estilos para cada contenedor de recurso */
.resource-container {
    width: 30%;
    /* Ajusta el ancho para que entren 3 por fila */
    margin-bottom: 2em;
    /* Añade un margen entre las filas */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.resource-container:hover {
    transform: scale(1.05);
}

/* Imagen dentro del contenedor */
.resource-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

/* Contenido del recurso */
.resource-content {
    padding: 1.5em;
}

/* Ajustes para título */
.resource-content h3 {
    font-size: 1.5em;
    color: #d94f04;
    margin-bottom: 1em;
}

/* Ajustes para texto */
.resource-content p {
    font-size: 1em;
    color: #555;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

/* Estilo para el enlace */
.resource-link {
    color: #d94f04;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.resource-link:hover {
    color: #ff5714;
}

/* Responsive: para pantallas más pequeñas */
/* @media (max-width: 768px) {
    .resource-container {
        width: 100%; 
        margin-bottom: 1.5em;
    }
} */


/* ? About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    background-color: #fff;
}

/* Contenedor que agrupa la imagen y el texto */
.about-container {
    display: flex;
    max-width: 1000px;
    align-items: center;
}

/* Estilo para la imagen */
.about-image {
    width: 45%;
    border-radius: 8px;
    margin-right: 2em;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor del texto */
.about-text {
    max-width: 50%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #555;
}

/* Estilos para el título */
.about-text h2 {
    font-size: 2.5em;
    color: #d94f04;
    margin-bottom: 1em;
}

/* Párrafos de texto */
.about-text p {
    margin-bottom: 1.2em;
    font-size: 1.1em;
}

/* Negrita personalizada en el texto */
.about-text strong {
    color: #333;
    font-weight: bold;
}



/* ?Footer */
#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer .highlight {
    font-weight: bold;
    color: #7e5bca;
    /* Puedes cambiar el color que prefieras */
}

/* ?Social media */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centra los iconos horizontalmente */
}

.social-icons li {
    margin: 0 10px;
    /* Espacio entre los iconos */
}

.social-icons a {
    color: #333;
    /* Color de los iconos */
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;
}